* {
    /* border: 1px solid red; */
    font-family: Roboto-Regular;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(static/Roboto/Roboto-Regular.ttf) format(truetype);
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(100,100,100);
}

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    background: black;
    height: 100px;
    top: 0px;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
}
.navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

li {
    list-style: none;
    padding: 10px;
}

/* .title-section {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.title-container {
    width: 100%;
}

.background {
    width: 100%;
    z-index: -1;
    position: fixed;
    top: 50px;
}

.featured-shows {
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 5em;
    color: white;
    height: 700px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.info-container {
    /* width: 50%; */
}

.month-search {
    width: 100%;
    margin-top: 50px;
}

.performance-instance {
    display: flex;
    flex-direction: row;
    padding: 10px; 
}

.show-photo {
    padding: 10px;
}

.photo {
    
}

.show-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.show-detail {
    margin: 10px;
}

.button-container {
    padding: 10px;
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.read-more {
    color: white;
    background: rgb(240,182, 24);
    padding: 10px;
    font-size: 1em;
    border: grey;
}

.bottom {
    display: flex;
    flex-direction: row;
    background: black;
    color: white;
    justify-content: space-evenly;
}

.map {
    width: 25%;
    margin-right: 20px;
}

.map-img {
    max-width: 100%;
}

.footer-section {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-regular {
    margin-right: 10px;
}

.show-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25%;
}

.social-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25%;
}

.fa-brands {
    margin-right: 10px;
}